$primary : #b9a67a;
$box-bg : #f9f3f0;
$box-shadow : #f78da7;
$button-bg: #03312B;
$btn-hover-bg : #9E4B47;

$heading: #9E4B47, #000, #b9a67a;

$section-bg : #f7f2ee, #f9f3f0;

$cta-bg: #02332d;
$cta-btn : #28514C;

$footer : #5d3c2d;
$footer-bottom : #786453;

$menu-hover-color: #F7847E